.tony {
  font-family: $font_face-accent;
  font-size: $font_size-lrg;
  font-smooth: auto;
  font-size-adjust: none;
  font-variant: normal;
  font-kerning: none;
  font-variant-ligatures: none;
  font-weight: 900;
  font-style: normal;
}

.silvio {
  font-family: $font_face-main;
  font-size: $font_size-std;
  font-smooth: auto;
  font-size-adjust: none;
  font-variant: normal;
  font-kerning: none;
  font-variant-ligatures: none;
  font-weight: 900;
  font-style: normal;
}

.paulie {
  font-family: $font_face-main;
  font-size: $font_size-std;
  font-smooth: auto;
  font-size-adjust: none;
  font-variant: normal;
  font-kerning: none;
  font-variant-ligatures: none;
  font-weight: 900;
  font-style: normal;
}

.chris {
  font-family: $font_face-main;
  font-size: $font_size-std;
  font-smooth: auto;
  font-size-adjust: none;
  font-variant: normal;
  font-kerning: none;
  font-variant-ligatures: none;
  font-weight: 900;
  font-style: normal;
}

.ralphie {
  font-family: $font_face-main;
  font-size: $font_size-std;
  font-smooth: auto;
  font-size-adjust: none;
  font-variant: normal;
  font-kerning: none;
  font-variant-ligatures: none;
  font-weight: 900;
  font-style: normal;
}

.richie {
  font-family: $font_face-main;
  font-size: $font_size-std;
  font-smooth: auto;
  font-size-adjust: none;
  font-variant: normal;
  font-kerning: none;
  font-variant-ligatures: none;
  font-weight: 900;
  font-style: normal;
}

.bobby {
  font-family: $font_face-main;
  font-size: $font_size-std;
  font-smooth: auto;
  font-size-adjust: none;
  font-variant: normal;
  font-kerning: none;
  font-variant-ligatures: none;
  font-weight: 900;
  font-style: normal;
}

.junior {
  font-family: $font_face-main;
  font-size: $font_size-std;
  font-smooth: auto;
  font-size-adjust: none;
  font-variant: normal;
  font-kerning: none;
  font-variant-ligatures: none;
  font-weight: 400;
  font-style: normal;
}
